/*Campo login*/
.siven-login {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: none;
	border: 4px solid rgba(0, 0, 0, 0.1);
	height: 44px;
	font-size: 18px;
	font-weight: 300;
	width: 100%;
	border-radius: 5px !important;
	
}


.siven-login-content {
  background-color: #EAEAEA;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-top: 10px;
}

.siven-btn {
    background: #777777a8;
    color: #fff;
    font-size: 14px !important;
    text-transform: none !important;
    border-radius: 5px !important;
}

/*Menú background imagen*/
#fh5co-aside {
	background-image: url("../../images/evilryu-c2.png") !important;
    background-size: cover !important;
    background-color: rgba(210, 210, 210, 0.9) !important;
    

}


/*Enlaces a color */

.color-rojito {
  color: #b50606 !important;  
}


/*Imagen Inicio*/
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

/*menos bordes de la pantalla de admin */
.page-body-wrapper {
  min-height: calc(100vh - 63px);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  padding-right: 0; }
  .page-body-wrapper:not(.auth-page) {
    padding-top: 0px !important; }
  .page-body-wrapper.full-page-wrapper {
    width: 100%;
    min-height: 100vh; }

/*Menos bordes del menú lateral 
.sidebar .nav .nav-item .nav-link {
      align-items: center;
      display: flex;
      padding: 30px 35px !important;
      white-space: nowrap;
      height: 52px;
      color: #4a4a4a; }    */